name: Test
on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - main
      - develop
      - feature-patch1

jobs:
  run-action:
    name: Run action
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
      - name: Test and coverage
        run: npm run test
      - name: Run my coverage
        uses: kcjpop/coverage-comments@v2.2
        with:
         github-token: ${{ secrets.GITHUB_TOKEN }}
         coverage-file: './coverage/clover.xml'
       
